<?php
return [
    'debug' => true, // Show stack trace on exception
    'views' => [
        'viewsDir' => realpath(__DIR__.'/../views/'),
        'layoutDir' => '../../../../layout',
        'layout' => 'main'
    ],
    'modules' => [
        '\Cept\Blog' => [
            'className' => 'Cept\Blog\Module',
            'path'      => '../vendor/Cept/Blog/Module.php',
        ],
        '\Cept\User' => [
            'className' => 'Cept\User\Module',
            'path'      => '../vendor/Cept/User/Module.php',
        ],
    ],
    'notFoundRoute'   => [
        'module'     => '\Cept\Blog',
        'namespace'  => '\Cept\Blog\Controller',
        'controller' => 'Error',
        'action'     => 'notFound',
    ],
    'defaultRoute' => [
    ],
    'db' => [
        'dbname' => '{db.name}',
        'user' => '{db.user}',
        'password' => '{db.pass}',
        'host' => '{db.host}',
        'driver' => 'pdo_pgsql',
    ]
];